<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 采购的映射文件 -->
<mapper namespace="com.qf.shop.dao.IAddressDao">

    <select id="queryByUid" resultType="address">
        select * from address where uid = #{uid}
    </select>

    <insert id="addAddress" statementType="CALLABLE">
        {call addAddress(#{person}, #{address}, #{phone}, #{code}, #{uid}, #{isdefault})}
    </insert>

    <select id="queryById" resultType="address">
        select * from address where id = #{id}
    </select>

</mapper>

