<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 采购的映射文件 -->
<mapper namespace="com.qf.shop.dao.ICartDao">

    <resultMap id="CartMap" type="cart">
        <id property="id" column="id"/>
        <result property="gid" column="gid"/>
        <result property="gnumber" column="gnumber"/>
        <result property="uid" column="uid"/>

        <association property="goods" javaType="goods">
            <id property="id" column="gid"/>
            <result property="title" column="title"/>
            <result property="ginfo" column="ginfo"/>
            <result property="price" column="price"/>
            <result property="gimage" column="gimage"/>
        </association>
    </resultMap>

    <insert id="addCart">
        insert into shopcart value(null, #{gid}, #{gnumber}, #{uid})
    </insert>

    <select id="queryAllByUid" resultType="cart">
        select * from shopcart where uid = #{uid}
    </select>

    <delete id="deleteCart">
        delete from shopcart where id = #{id}
    </delete>

    <delete id="deleteAllCart">
        delete from shopcart where uid = #{id}
    </delete>

    <select id="queryCartByGids" resultType="cart">
      select * from shopcart where uid = #{uid} and gid in
      <foreach collection="gid" item="gid2" open="(" close=")" separator=",">
          #{gid2}
      </foreach>
    </select>

    <select id="queryByCids" resultMap="CartMap">
        select * from shopcart sc join goods g on sc.gid = g.id where sc.id in
        <foreach collection="cids" item="cid" open="(" close=")" separator=",">
            #{cid}
        </foreach>
    </select>

</mapper>

