/* ShopNC Common CSS wll-2013/03/24 */
body{color:#333;font:12px/1 "Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Tahoma,Helvetica,Arial,sans-serif;}
a{text-decoration:none;color:555555;}
a:hover{text-decoration:underline;color:#CC0000;}